.card {
    margin: 10px 5px;
    text-align: start;
    max-width: 500px;
  }
  
  .card .cardTitle {
    font-size: large;
    font-weight: bold;
  }
  
  .card .textField {
    margin: 20px 10px 0px 10px;
  }
  
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }